<% include header %>
	<h1> Behold  ...your Watch List! </h1>
	<table class="table table-hover" id="watch">
		<tbody>
			<% for (var i = 0; i < movies.length; i++) { %>
				<tr>
					<td><%= movies.count=i+1%></td>
					<td><a href="/details/<%= movies[i].imdbID %>"><%= movies[i].title%></a></td>
					<td><%= movies[i].year%></td>
					<td>
						<button data-id="<%= movies[i].id %>" class="btn btn-default ajaxDelete">Remove from List</button>
					</td>
				</tr>
			<%}%>
		</tbody>
	</table>
<% include footer %>